In [1]:
import pandas                    as     pd
from   mlxtend.preprocessing     import TransactionEncoder
from   mlxtend.frequent_patterns import fpgrowth

# **Associer les règles d'apprentissage avec FP-Growth**

In [2]:
dataset = [['Lait', 'Farine', 'Biscuit', 'Pain', 'Oeufs', 'Banane'],
           ['Café', 'Farine', 'Biscuit', 'Pain', 'Oeufs', 'Banane'],
           ['Lait', 'Sel', 'Pain', 'Oeufs'],
           ['Lait', 'Licorne', 'Sel', 'Pain', 'Banane'],
           ['Sel', 'Farine', 'Sucre', 'Pain', 'Glace', 'Oeufs']]

## **Faire un prétraitement**

L'outil '`TransactionEncoder`' de la bibliothèque '`lmxtend`', fonctionne comme '`OneHotEncoder`'.

In [3]:
te = TransactionEncoder()
te_array = te.fit_transform(dataset)
te_array

array([[ True,  True, False,  True, False,  True, False,  True,  True,
        False, False],
       [ True,  True,  True,  True, False, False, False,  True,  True,
        False, False],
       [False, False, False, False, False,  True, False,  True,  True,
         True, False],
       [ True, False, False, False, False,  True,  True, False,  True,
         True, False],
       [False, False, False,  True,  True, False, False,  True,  True,
         True,  True]])

C'est un tableau de valeurs booléennes

In [4]:
te.columns_

['Banane',
 'Biscuit',
 'Café',
 'Farine',
 'Glace',
 'Lait',
 'Licorne',
 'Oeufs',
 'Pain',
 'Sel',
 'Sucre']

In [5]:
te.columns_mapping_

{'Banane': 0,
 'Biscuit': 1,
 'Café': 2,
 'Farine': 3,
 'Glace': 4,
 'Lait': 5,
 'Licorne': 6,
 'Oeufs': 7,
 'Pain': 8,
 'Sel': 9,
 'Sucre': 10}

## **Faire du tableau un dataframe**

In [6]:
df = pd.DataFrame(te_array, columns=te.columns_)
df

,Banane,Biscuit,Café,Farine,Glace,Lait,Licorne,Oeufs,Pain,Sel,Sucre
0,True,True,False,True,False,True,False,True,True,False,False
1,True,True,True,True,False,False,False,True,True,False,False
2,False,False,False,False,False,True,False,True,True,True,False
3,True,False,False,False,False,True,True,False,True,True,False
4,False,False,False,True,True,False,False,True,True,True,True

## **Appliquer l'algorithme FP-Growth**

Le seuil est à 60 %.

In [7]:
fpgrowth(df, min_support=0.6)

    support   itemsets
0       1.0        (8)
1       0.8        (7)
2       0.6        (5)
3       0.6        (3)
4       0.6        (0)
5       0.6        (9)
6       0.8     (8, 7)
7       0.6     (8, 5)
8       0.6     (3, 7)
9       0.6     (8, 3)
10      0.6  (8, 3, 7)
11      0.6     (0, 8)
12      0.6     (8, 9)

## **Remplacer 'Itemset' par la valeur originelle**

In [8]:
fpgrowth(df, min_support=0.6, use_colnames=True)

    support               itemsets
0       1.0                 (Pain)
1       0.8                (Oeufs)
2       0.6                 (Lait)
3       0.6               (Farine)
4       0.6               (Banane)
5       0.6                  (Sel)
6       0.8          (Pain, Oeufs)
7       0.6           (Pain, Lait)
8       0.6        (Farine, Oeufs)
9       0.6         (Farine, Pain)
10      0.6  (Farine, Pain, Oeufs)
11      0.6         (Banane, Pain)
12      0.6            (Sel, Pain)

Tous les clients achète du pain.
80 % des clients achètes ensembles les oeufs et le pain.
Les articles (lait, pain, oeuf, farine, sel et banane) doivent êtres à proximité.