In [1]:
from   mlxtend.frequent_patterns import apriori
from   mlxtend.frequent_patterns import association_rules
import pandas                    as     pd

# **Algorithme Apriori pour l’analyse du panier de consommation**

In [2]:
data = {
    'Transaction ID': [1, 2, 3, 4, 5],
    'Items': [['pain', 'lait'],
              ['pain', 'couche', 'bière', 'œufs'],
              ['lait', 'couche', 'bière', 'coca'],
              ['pain', 'lait', 'couche', 'bière'],
              ['pain', 'lait', 'couche', 'coca']],
}
# Convertir le dataset en DataFrame pandas
df = pd.DataFrame(data)
df

   Transaction ID                        Items
0               1                 [pain, lait]
1               2  [pain, couche, bière, œufs]
2               3  [lait, couche, bière, coca]
3               4  [pain, lait, couche, bière]
4               5   [pain, lait, couche, coca]

In [3]:
# Convertir la liste des éléments de chaque transaction en string
df['Items'] = df['Items'].apply(lambda x: ','.join(x))
df

   Transaction ID                   Items
0               1               pain,lait
1               2  pain,couche,bière,œufs
2               3  lait,couche,bière,coca
3               4  pain,lait,couche,bière
4               5   pain,lait,couche,coca

In [4]:
# Appliquer l'encodage one-hot pour convertir les données de transaction dans un format binaire
onehot = df['Items'].str.get_dummies(sep=',')
onehot

   bière  coca  couche  lait  pain  œufs
0      0     0       0     1     1     0
1      1     0       1     0     1     1
2      1     1       1     1     0     0
3      1     0       1     1     1     0
4      0     1       1     1     1     0

## Quels sont les modèles d’achat les plus fréquents et leur score ?

In [5]:
# Appliquer l'algorithme Apriori pour trouver la fréquence des ensembles d'éléments
frequent_itemsets = apriori(onehot, min_support=0.4, use_colnames=True)
frequent_itemsets

C:\Users\miklg\.conda\envs\workspace\Lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:161: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

    support               itemsets
0       0.6                (bière)
1       0.4                 (coca)
2       0.8               (couche)
3       0.8                 (lait)
4       0.8                 (pain)
5       0.6        (bière, couche)
6       0.4          (lait, bière)
7       0.4          (pain, bière)
8       0.4         (coca, couche)
9       0.4           (lait, coca)
10      0.6         (lait, couche)
11      0.6         (pain, couche)
12      0.6           (pain, lait)
13      0.4  (lait, bière, couche)
14      0.4  (pain, bière, couche)
15      0.4   (lait, coca, couche)
16      0.4   (pain, lait, couche)

In [6]:
# Générer des règles d'association
rules = association_rules(frequent_itemsets, metric='confidence', min_threshold=0.7)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(bière),(couche),0.6,0.8,0.6,1.00,1.250000,1.0,0.12,inf,0.500000,0.750000,1.000,0.875000
1,(couche),(bière),0.8,0.6,0.6,0.75,1.250000,1.0,0.12,1.6,1.000000,0.750000,0.375,0.875000
2,(coca),(couche),0.4,0.8,0.4,1.00,1.250000,1.0,0.08,inf,0.333333,0.500000,1.000,0.750000
3,(coca),(lait),0.4,0.8,0.4,1.00,1.250000,1.0,0.08,inf,0.333333,0.500000,1.000,0.750000
4,(lait),(couche),0.8,0.8,0.6,0.75,0.937500,1.0,-0.04,0.8,-0.250000,0.600000,-0.250,0.750000
5,(couche),(lait),0.8,0.8,0.6,0.75,0.937500,1.0,-0.04,0.8,-0.250000,0.600000,-0.250,0.750000
6,(pain),(couche),0.8,0.8,0.6,0.75,0.937500,1.0,-0.04,0.8,-0.250000,0.600000,-0.250,0.750000
7,(couche),(pain),0.8,0.8,0.6,0.75,0.937500,1.0,-0.04,0.8,-0.250000,0.600000,-0.250,0.750000
8,(pain),(lait),0.8,0.8,0.6,0.75,0.937500,1.0,-0.04,0.8,-0.250000,0.600000,-0.250,0.750000
9,(lait),(pain),0.8,0.8,0.6,0.75,0.937500,1.0,-0.04,0.8,-0.250000,0.600000,-0.250,0.750000
10,"(bière, lait)",(couche),0.4,0.8,0.4,1.00,1.250000,1.0,0.08,inf,0.333333,0.500000,1.000,0.750000
11,"(pain, bière)",(couche),0.4,0.8,0.4,1.00,1.250000,1.0,0.08,inf,0.333333,0.500000,1.000,0.750000
12,"(lait, coca)",(couche),0.4,0.8,0.4,1.00,1.250000,1.0,0.08,inf,0.333333,0.500000,1.000,0.750000
13,"(coca, couche)",(lait),0.4,0.8,0.4,1.00,1.250000,1.0,0.08,inf,0.333333,0.500000,1.000,0.750000
14,(coca),"(lait, couche)",0.4,0.6,0.4,1.00,1.666667,1.0,0.16,inf,0.666667,0.666667,1.000,0.833333

antecedents        ➔ acheté en premier. L’indice 0 indique que ce sont les couches qui sont achetées en premier.
consequents        ➔ acheté après le premier, des couches, de la bière sera achetée.
antecedent support ➔ la probabilité du nombre de fois où l’antécédent est acheté (les couches sont achetées à 80 %).
consequent support ➔ la probabilité du nombre de fois où le conséquent est acheté.
support            ➔ la probabilité du nombre de fois où l’antécédent et le conséquent sont achetés ensemble (les couches et la bière sont achetées ensemble 60 % du temps).
confidence         ➔ la confiance de la règle d’association : la probabilité de trouver le ou les articles conséquents dans une transaction si le ou les articles antécédents sont présents.
                     La confiance de la première règle est de 0.75, ce qui indique que la bière est achetée à 75% lorsque des couches sont achetées.